In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_excel('Maharashtra_Wheat.xls')
df.head()

,District,Year,Season,Area (Hectare),Production (Tonnes),Yield (Tonnes/Hectare)
0,1.AHMEDNAGAR,1997-98,Rabi,79700.0,87100.0,1.092848
1,NaN,1998-99,Rabi,124400.0,154200.0,1.239550
2,NaN,1999-00,Rabi,127000.0,178800.0,1.407874
3,NaN,2000-01,Rabi,94700.0,135800.0,1.434002
4,NaN,2001-02,Rabi,93800.0,156300.0,1.666311

In [3]:
df['District'] = df['District'].fillna(method='ffill')
df.head()

,District,Year,Season,Area (Hectare),Production (Tonnes),Yield (Tonnes/Hectare)
0,1.AHMEDNAGAR,1997-98,Rabi,79700.0,87100.0,1.092848
1,1.AHMEDNAGAR,1998-99,Rabi,124400.0,154200.0,1.239550
2,1.AHMEDNAGAR,1999-00,Rabi,127000.0,178800.0,1.407874
3,1.AHMEDNAGAR,2000-01,Rabi,94700.0,135800.0,1.434002
4,1.AHMEDNAGAR,2001-02,Rabi,93800.0,156300.0,1.666311

In [4]:
import numpy as np

# Calculate Q1 (25th percentile) and Q3 (75th percentile)
Q1 = np.percentile(df['Area (Hectare)'], 25)
Q3 = np.percentile(df['Area (Hectare)'], 75)

# Calculate the IQR (Interquartile Range)
IQR = Q3 - Q1

# Define the threshold for identifying outliers
threshold = 1.5

# Calculate the lower and upper bounds for outliers
lower_bound = Q1 - threshold * IQR
upper_bound = Q3 + threshold * IQR

# Identify outliers
outliers = df[(df['Area (Hectare)'] < lower_bound) | (df['Area (Hectare)'] > upper_bound)]

# Remove outliers from the dataset
data_cleaned = df[~((df['Area (Hectare)'] < lower_bound) | (df['Area (Hectare)'] > upper_bound))]

# Print the outliers
print("Outliers:")
print(outliers)

# Print the cleaned dataset
print("Cleaned Dataset:")
print(data_cleaned)

Outliers:
          District      Year       Season  Area (Hectare)  \
1     1.AHMEDNAGAR   1998-99  Rabi               124400.0
2     1.AHMEDNAGAR   1999-00  Rabi               127000.0
3     1.AHMEDNAGAR   2000-01  Rabi                94700.0
4     1.AHMEDNAGAR   2001-02  Rabi                93800.0
7     1.AHMEDNAGAR   2004-05  Rabi                89300.0
8     1.AHMEDNAGAR   2005-06  Rabi               103100.0
9     1.AHMEDNAGAR   2006-07  Rabi               153900.0
10    1.AHMEDNAGAR   2007-08  Rabi               130900.0
11    1.AHMEDNAGAR   2008-09  Rabi               138200.0
12    1.AHMEDNAGAR   2009-10  Rabi               129500.0
13    1.AHMEDNAGAR   2010-11  Rabi               133700.0
157     7.BULDHANA   2016-17  Rabi               103880.0
379      17.NAGPUR   2013-14  Rabi                86200.0
380      17.NAGPUR   2014-15  Rabi                88500.0
381      17.NAGPUR   2015-16  Rabi                92600.0
382      17.NAGPUR   2016-17  Rabi               135900.0
383      17.NAGPUR   2017-18  Rabi               135203.0
384      17.NAGPUR   2018-19  Rabi               127830.0
385      17.NAGPUR   2019-20  Rabi               111308.0
431      20.NASHIK   1998-99  Rabi                83900.0
432      20.NASHIK   1999-00  Rabi                85700.0
439      20.NASHIK   2006-07  Rabi                84100.0
450      20.NASHIK   2017-18  Rabi               112458.0
452      20.NASHIK   2019-20  Rabi                82459.0
587     28.SOLAPUR   2010-11  Rabi                87800.0
596     28.SOLAPUR   2019-20  Rabi                82383.0

     Production (Tonnes)  Yield (Tonnes/Hectare)
1               154200.0                1.239550
2               178800.0                1.407874
3               135800.0                1.434002
4               156300.0                1.666311
7               154600.0                1.731243
8               153800.0                1.491756
9               248100.0                1.612086
10              271100.0                2.071047
11              219200.0                1.586107
12              216000.0                1.667954
13              248900.0                1.861631
157             162400.0                1.563342
379              83100.0                0.964037
380             110600.0                1.249718
381              93900.0                1.014039
382             232600.0                1.711553
383             244400.0                1.807652
384             215400.0                1.685050
385             157054.0                1.410986
431             112200.0                1.337306
432             122600.0                1.430572
439             137700.0                1.637337
450             223600.0                1.988298
452             210563.0                2.553548
587             122900.0                1.399772
596              93009.0                1.128983
Cleaned Dataset:
          District      Year       Season  Area (Hectare)  \
0     1.AHMEDNAGAR   1997-98  Rabi               79700.00
5     1.AHMEDNAGAR   2002-03  Rabi               70400.00
6     1.AHMEDNAGAR   2003-04  Rabi               39200.00
14    1.AHMEDNAGAR   2011-12  Rabi               48100.00
15    1.AHMEDNAGAR   2012-13  Rabi               38900.00
..             ...       ...          ...             ...
675    32.YAVATMAL   2015-16  Rabi               35600.00
676    32.YAVATMAL   2016-17  Rabi               60200.00
677    32.YAVATMAL   2017-18  Rabi               12800.00
678    32.YAVATMAL   2018-19  Rabi               34613.25
679    32.YAVATMAL   2019-20  Rabi               45633.00

     Production (Tonnes)  Yield (Tonnes/Hectare)
0                87100.0                1.092848
5                88500.0                1.257102
6                39500.0                1.007653
14               88700.0                1.844075
15               46100.0                1.185090
..                   ...                     ...
675              37600.0                1.056180
676              77900.0                1.294020
677              13000.0                1.015625
678              32500.0                0.938947
679              55276.0                1.211316

[654 rows x 6 columns]

In [5]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

# Perform label encoding for 'District' and 'Season' columns
df['District'] = label_encoder.fit_transform(df['District'])
df['Season'] = label_encoder.fit_transform(df['Season'])
df['Year'] = label_encoder.fit_transform(df['Year'])

In [6]:
X = df.drop(['Production (Tonnes)','Yield (Tonnes/Hectare)'],axis=1)
y = df['Production (Tonnes)']

In [7]:
print(df['Year'].unique())
print(df['Year'].isnull().sum())

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22]
0

In [8]:
# df['Year'] = df['Year'].str.strip()

In [9]:
test_years = ['21', '22']

# Split data into training and test sets based on the test years
train_data = df[~df['Year'].isin(test_years)]
test_data = df[df['Year'].isin(test_years)]

# Separate features and target variables
X_train = train_data[['District', 'Year', 'Season', 'Area (Hectare)']]
y_train = train_data['Production (Tonnes)']
X_test = test_data[['District', 'Year', 'Season', 'Area (Hectare)']]
y_test = test_data['Production (Tonnes)']

# Display the shapes of training and test sets
print("Training data shape:", X_train.shape, y_train.shape)
print("Test data shape:", X_test.shape, y_test.shape)

Training data shape: (620, 4) (620,)
Test data shape: (60, 4) (60,)

In [10]:
## Order will matter for knn
X_train = X_train.sort_index()
y_train = y_train.sort_index()
X_test = X_test.sort_index()
y_test = y_test.sort_index()

In [11]:
X_train

     District  Year  Season  Area (Hectare)
0           0     0       0         79700.0
1           0     1       0        124400.0
2           0     2       0        127000.0
3           0     3       0         94700.0
4           0     4       0         93800.0
..        ...   ...     ...             ...
673        25    16       0         34500.0
674        25    17       0         29100.0
675        25    18       0         35600.0
676        25    19       0         60200.0
677        25    20       0         12800.0

[620 rows x 4 columns]

In [12]:
from sklearn.preprocessing import MinMaxScaler

# Initialize the scaler
scaler = MinMaxScaler()

# Fit the scaler on the training data and transform it
X_train = scaler.fit_transform(X_train)

# Transform the test data using the same scaler
X_test = scaler.transform(X_test)

In [13]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [14]:
linear_reg_model = LinearRegression()
linear_reg_model.fit(X_train, y_train)
linear_reg_predictions = linear_reg_model.predict(X_test)

In [15]:
linear_reg_mse = mean_squared_error(y_test, linear_reg_predictions)
print("Linear Regression MSE:", linear_reg_mse)

r2_lr= r2_score(y_test, linear_reg_predictions)
print("R-squared score:", r2_lr)

Linear Regression MSE: 436406065.824742
R-squared score: 0.834348459427565

In [16]:
dt_model = DecisionTreeRegressor(random_state=42)
dt_model.fit(X_train, y_train)
dt_predictions = dt_model.predict(X_test)

In [17]:
dt_mse = mean_squared_error(y_test, dt_predictions)
print("Decision Tree Regression MSE:", dt_mse)

r2_dt = r2_score(y_test, dt_predictions)
print("R-squared score:", r2_dt)

Decision Tree Regression MSE: 413056073.68333334
R-squared score: 0.8432116775940419

In [18]:
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)
rf_predictions = rf_model.predict(X_test)

In [19]:
rf_mse = mean_squared_error(y_test, rf_predictions)
print("Random Forest Regression MSE:", rf_mse)

r2_rf = r2_score(y_test, rf_predictions)
print("R-squared score:", r2_rf)

Random Forest Regression MSE: 351219103.79025
R-squared score: 0.8666838291732416

In [20]:
import numpy as np
from keras.models import Sequential
from keras.layers import LSTM, Dense

# Reshape data for LSTM input
X_train_reshaped = np.reshape(X_train, (X_train.shape[0], 1, X_train.shape[1]))
X_test_reshaped = np.reshape(X_test, (X_test.shape[0], 1, X_test.shape[1]))

# Define the LSTM model
model = Sequential()
model.add(LSTM(units=50, activation='relu', input_shape=(1, X_train.shape[1])))
model.add(Dense(units=1))  # Output layer with 1 neuron for regression

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

# Train the model
model.fit(X_train_reshaped, y_train, epochs=50, batch_size=32)

# Evaluate the model on test data
loss = model.evaluate(X_test_reshaped, y_test)
print("Test loss:", loss)

Epoch 1/50
20/20 [==============================] - 1s 2ms/step - loss: 4167632896.0000
Epoch 2/50
20/20 [==============================] - 0s 2ms/step - loss: 4167626240.0000
Epoch 3/50
20/20 [==============================] - 0s 2ms/step - loss: 4167616768.0000
Epoch 4/50
20/20 [==============================] - 0s 2ms/step - loss: 4167604224.0000
Epoch 5/50
20/20 [==============================] - 0s 2ms/step - loss: 4167588096.0000
Epoch 6/50
20/20 [==============================] - 0s 2ms/step - loss: 4167565824.0000
Epoch 7/50
20/20 [==============================] - 0s 2ms/step - loss: 4167537920.0000
Epoch 8/50
20/20 [==============================] - 0s 2ms/step - loss: 4167500288.0000
Epoch 9/50
20/20 [==============================] - 0s 2ms/step - loss: 4167453696.0000
Epoch 10/50
20/20 [==============================] - 0s 2ms/step - loss: 4167395328.0000
Epoch 11/50
20/20 [==============================] - 0s 1ms/step - loss: 4167327232.0000
Epoch 12/50
20/20 [==============================] - 0s 2ms/step - loss: 4167244800.0000
Epoch 13/50
20/20 [==============================] - 0s 2ms/step - loss: 4167149312.0000
Epoch 14/50
20/20 [==============================] - 0s 2ms/step - loss: 4167038464.0000
Epoch 15/50
20/20 [==============================] - 0s 2ms/step - loss: 4166912512.0000
Epoch 16/50
20/20 [==============================] - 0s 2ms/step - loss: 4166773504.0000
Epoch 17/50
20/20 [==============================] - 0s 2ms/step - loss: 4166617344.0000
Epoch 18/50
20/20 [==============================] - 0s 2ms/step - loss: 4166448640.0000
Epoch 19/50
20/20 [==============================] - 0s 3ms/step - loss: 4166263040.0000
Epoch 20/50
20/20 [==============================] - 0s 2ms/step - loss: 4166061312.0000
Epoch 21/50
20/20 [==============================] - 0s 2ms/step - loss: 4165848320.0000
Epoch 22/50
20/20 [==============================] - 0s 3ms/step - loss: 4165614336.0000
Epoch 23/50
20/20 [==============================] - 0s 3ms/step - loss: 4165376000.0000
Epoch 24/50
20/20 [==============================] - 0s 3ms/step - loss: 4165117952.0000
Epoch 25/50
20/20 [==============================] - 0s 3ms/step - loss: 4164849152.0000
Epoch 26/50
20/20 [==============================] - 0s 3ms/step - loss: 4164565504.0000
Epoch 27/50
20/20 [==============================] - 0s 2ms/step - loss: 4164269824.0000
Epoch 28/50
20/20 [==============================] - 0s 4ms/step - loss: 4163964160.0000
Epoch 29/50
20/20 [==============================] - 0s 2ms/step - loss: 4163642368.0000
Epoch 30/50
20/20 [==============================] - 0s 2ms/step - loss: 4163308544.0000
Epoch 31/50
20/20 [==============================] - 0s 2ms/step - loss: 4162971904.0000
Epoch 32/50
20/20 [==============================] - 0s 2ms/step - loss: 4162619136.0000
Epoch 33/50
20/20 [==============================] - 0s 2ms/step - loss: 4162258944.0000
Epoch 34/50
20/20 [==============================] - 0s 2ms/step - loss: 4161886208.0000
Epoch 35/50
20/20 [==============================] - 0s 2ms/step - loss: 4161506304.0000
Epoch 36/50
20/20 [==============================] - 0s 3ms/step - loss: 4161116672.0000
Epoch 37/50
20/20 [==============================] - 0s 3ms/step - loss: 4160723712.0000
Epoch 38/50
20/20 [==============================] - 0s 3ms/step - loss: 4160312320.0000
Epoch 39/50
20/20 [==============================] - 0s 2ms/step - loss: 4159903488.0000
Epoch 40/50
20/20 [==============================] - 0s 2ms/step - loss: 4159481088.0000
Epoch 41/50
20/20 [==============================] - 0s 2ms/step - loss: 4159052288.0000
Epoch 42/50
20/20 [==============================] - 0s 2ms/step - loss: 4158615296.0000
Epoch 43/50
20/20 [==============================] - 0s 3ms/step - loss: 4158170368.0000
Epoch 44/50
20/20 [==============================] - 0s 2ms/step - loss: 4157718784.0000
Epoch 45/50
20/20 [==============================] - 0s 2ms/step - loss: 4157262080.0000
Epoch 46/50
20/20 [==============================] - 0s 2ms/step - loss: 4156786432.0000
Epoch 47/50
20/20 [==============================] - 0s 3ms/step - loss: 4156312064.0000
Epoch 48/50
20/20 [==============================] - 0s 3ms/step - loss: 4155825408.0000
Epoch 49/50
20/20 [==============================] - 0s 3ms/step - loss: 4155343104.0000
Epoch 50/50
20/20 [==============================] - 0s 3ms/step - loss: 4154833920.0000
2/2 [==============================] - 0s 6ms/step - loss: 5188975104.0000
Test loss: 5188975104.0